######################
#   ╔╗╔╔═╗╔╦╗┬─┐┌─┐  #
#   ║║║╠═╝║║║├┬┘│    #
#  o╝╚╝╩  ╩ ╩┴└─└─┘  #
######################

# Hide NPM log output unless it is related to an error of some kind:
loglevel=error

# Make "npm audit" an opt-in thing for subsequent installs within this app:
audit=false

# keep consistent dependencies between all your environments.
save-exact=true